---
interface Props {
  texto: string;
}

const { texto } = Astro.props;
const NUMERO_DE_TELEFONO = "573003607632";
const MENSAJE_PREDETERMINADO =
  "¡Hey, quiero convertir visitantes en *clientes* con una landing page!";
const mensajeCodificado = encodeURIComponent(MENSAJE_PREDETERMINADO);
const whatsappUrl = `https://wa.me/${NUMERO_DE_TELEFONO}?text=${mensajeCodificado}`;

// Clase para el contenedor exterior (el "borde" degradado)
const whatsappBorder = `
    relative inline-block rounded-4xl p-[1px]
    bg-gradient-to-r from-violet-500 via-cyan-500/30 to-indigo-500/20
    group
    shadow-2xl shadow-indigo-900
    hover:bg-gradient-to-r hover:from-indigo-500 hover:via-cyan-500/50 hover:to-indigo-500/20 transition-all duration-500
    hover:shadow-indigo-800 transition-all duration-500
`;

const whatsappInner = `
    relative z-10
    rounded-4xl
    pl-4 pr-1 py-1 font-light tracking-widest
    text-white font-semibold
    bg-gradient-to-r from-black via-black to-indigo-500
    transition-all duration-300
    hover:bg-gradient-to-r hover:from-black hover:via-black hover:to-indigo-500
    flex items-center justify-center gap-7
`;

const whatsappBorderr = `
    relative inline-block rounded-4xl p-[1px]
    bg-gradient-to-r from-neutral-100 via-neutral-500/70 to-neutral-500/10
    group
    shadow-2xl shadow-neutral-700
    hover:shadow-neutral-800 transition-all duration-500
`;


const whatsappInnerr = `
    relative z-10
    rounded-4xl
    pl-4 pr-1 py-1 tracking-widest
    text-white font-semibold
    bg-gradient-to-r from-black via-black to-neutral-400
    transition-all duration-300
    hover:bg-gradient-to-r hover:from-black hover:via-black hover:to-neutral-500
    flex items-center justify-center gap-7
`;
---

<a
  href={whatsappUrl}
  target="_blank"
  rel="noopener noreferrer"
  class={whatsappBorder}
>
  <div class={whatsappInner}>
    {texto}
    <div class="bg-black rounded-4xl p-2 border border-neutral-500/80">
      <svg
        class="w-3 h-3"
        fill="currentColor"
        viewBox="-9.86 0 71.633 71.633"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Space-Shuttle" transform="translate(2)">
          <g id="Rectangle-1">
            <path
              id="Path_25"
              data-name="Path 25"
              d="M25.657,3.276h0M24,5.155a20.632,20.632,0,0,1,4,10.962V62.181a2.008,2.008,0,0,1-2,2.008H22a2.008,2.008,0,0,1-2-2.008V16.118A20.632,20.632,0,0,1,24,5.155M24,0A1.774,1.774,0,0,0,22.67.616L21.314,2.14A24.3,24.3,0,0,0,16,16.118V62.181a6,6,0,0,0,6,6.008H26a6,6,0,0,0,6-6.008V16.118A24.281,24.281,0,0,0,26.686,2.14L25.33.616A1.777,1.777,0,0,0,24,0Z"
            ></path>
          </g>
          <g id="Line_3_">
            <path
              id="Path_26"
              data-name="Path 26"
              d="M24,71.633a2,2,0,0,1-2-2V54.5a2,2,0,0,1,4,0V69.633A2,2,0,0,1,24,71.633Z"
            ></path>
          </g>
          <g id="Path-6">
            <path
              id="Path_27"
              data-name="Path 27"
              d="M17.879,62c-4.056,0-17.25-.374-19.661-5.1A2,2,0,0,1-2,55.992C-2,49.478.219,46.9,3.29,43.332c3.236-3.76,7.667-8.91,12.762-22.054a2,2,0,1,1,3.729,1.445C14.438,36.509,9.553,42.185,6.321,45.94c-2.755,3.2-4.2,4.876-4.313,9.429C3.522,56.782,10.708,58,17.878,58h.038a2,2,0,1,1-.037,4Z"
            ></path>
          </g>
          <g id="Path-6-Copy">
            <path
              id="Path_28"
              data-name="Path 28"
              d="M30.037,62A2.024,2.024,0,0,1,28,60a2,2,0,0,1,2-2h.016c7.179,0,14.377-1.221,15.893-2.633-.118-4.552-1.559-6.227-4.313-9.429-3.232-3.756-8.117-9.432-13.46-23.218a2,2,0,0,1,3.729-1.445c5.095,13.144,9.526,18.294,12.762,22.054,3.071,3.568,5.29,6.146,5.29,12.661a2,2,0,0,1-.218.909C47.288,61.628,34.094,62,30.037,62Zm17.879-6.01h0Z"
            ></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
</a>
