---
interface Props {
  texto: string;
}

const { texto } = Astro.props;
const NUMERO_DE_TELEFONO = "573003607632";
const MENSAJE_PREDETERMINADO =
  "¡Hey, quiero convertir visitantes en clientes con una landing page!";
const mensajeCodificado = encodeURIComponent(MENSAJE_PREDETERMINADO);
const whatsappUrl = `https://wa.me/${NUMERO_DE_TELEFONO}?text=${mensajeCodificado}`;

const whatsappBorder = `
    relative inline-block rounded-4xl p-[1px]
    bg-gradient-to-b from-neutral-400/70 via-neutral-950/50 to-neutral-900/80
    group
    hover:bg-gradient-to-r hover:from-purple-500 hover:via-indigo-500 hover:to-cyan-500 transition-all duration-500
    `;

const whatsappInner = `
    relative z-10
    rounded-4xl
    px-6 py-2 font-light tracking-widest
    text-neutral-200 font-semibold
    bg-gradient-to-b from-neutral-800 via-neutral-950 to-black
    transition-all duration-300
`;
---

<a
  href={whatsappUrl}
  target="_blank"
  rel="noopener noreferrer"
  class={whatsappBorder}
>
    <div class={whatsappInner}>
        {texto}
    </div>
</a>
